ion-content{

    --ion-background-color: orange;
}

.containerAll {

    display: flex;
    justify-content: center;
    gap: 1em;
}

.titlePokemon {

    text-align: center;
    background-color: white;
    font-weight: 900;
    padding-bottom: 5px;
    color: red;
    text-shadow: 2px 2px 2px black;
    border-bottom: 2px solid black;
}

.containerItem {

    border: 2px solid black;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: red;

}

.pokemonSprite {

    width: 200px;
    cursor: pointer;
    border-bottom: 2px solid black;
    position: relative;
    bottom: 20px;

    
   
}

.buttonStyle {

    height: 50%;
    width: auto;
    margin-left: 0.5em;
    position: relative;
    top: 9em;

}

.arrowNext {

    width: 30px;
    position: relative;
    left: 3px;

}

.arrowPrevious {

    width: 30px;
    position: relative;
    right: 3px;  
    transform: rotate(180deg);

}

.containerStats {

    display: flex;
    justify-content: center;
    position: relative;
    font-weight: 900;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.containerItems {

    border: 2px solid black;
    padding: 15px;
    background-color: red;
    display: none;

}