ion-content{

    --ion-background-color: orange;
}

.containerAll {

    display: flex;
    justify-content: center;
    gap: 1em;
}

.titlePokemon {

    text-align: center;
    background-color: white;
    font-weight: 900;
    padding-bottom: 5px;
    color: red;
    text-shadow: 2px 2px 2px black;
    border-bottom: 2px solid black;
}

.containerItem {

    border: 2px solid black;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: red;

}

.pokemonSprite {

    width: 200px;
  
    border-bottom: 2px solid black;
    position: relative;
    bottom: 20px;

    
   
}

.buttonStyle {

    height: 10vh;

    position: relative;
    top: 9em;

}