ion-content{

    --ion-background-color: orange;
}

.formStyle {

    margin-top: 3em;

}

.searchPokemon {

    width: 30px;
    right: 5px;
    bottom: 2px;
    position: relative;

}

.buttonStyle {

    background-color: black;

}   

.buttonStyle:hover {

    background-color: red;

}

.inputSearch {

    border: 1px solid black;

}

.inputSearch:active, .inputSearch:focus {

    border: 1px solid #ff0000;
    box-shadow: 2px 2px 1px 1px black;

}

.placeholder::placeholder {

    color: red!important ;

}


.containerAll {

    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
    gap: 2em;
}

.pokemonName {

    text-align: center;
    border-bottom: 1px solid black;
    font-weight: 900;
    color: red;
    font-size: 15px;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 5px;
    background-color: white;
}

.containerItems {

    border: 2px solid black;
    background-color: red;
    display: none;
 
}

.containerItems2 {

    border: 2px solid black !important;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    display: none;
    

}

.spritePokemon {

    width: 150px;
    border-bottom: 2px solid black;
    position: relative;
    bottom: 20px !important;
  

}

.textStyle {

    text-shadow: 1px 1px 1px black;
    color: red;

}



.ability {

    margin-top: 1em;
    text-shadow: 1px 1px 1px black;
    color: red;
}