.iconPokedex{

color: black;


}

.iconSearch{

    color: black;
    
    
    }

    .iconSearch:hover > .searchLabel  {

        color: red !important;
    }

.iconPokedex:hover > .pokemonLabel {

    color: red !important;

}

.pokemonLabel:hover {

    color: red;


}

.logoutLabel {

    color: black;

}
