.iconPokedex{

color: red;


}

.loginLabel {

    color: red;

}

.iconSearch{

    color: black;
    
    
    }

    .iconSearch:hover > .searchLabel  {

        color: red !important;
    }

    .iconList1:hover > .list1Label  {

        color: red !important;
    }

.iconPokedex:hover > .pokemonLabel {

    color: red !important;

}

.pokemonLabel:hover {

    color: red;


}

.list1Label:hover {

    color: red;


}

.logoutLabel {

    color: black;

}
