ion-content{

    --ion-background-color: orange;
}

.containerAll {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1em;
    margin-bottom: 1em;
    gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
}



.pokemonListImg {


    width: 200px;
    border-bottom: 2px solid black;
    position: relative;
    bottom: 10px;

}

@media only screen and (width: 571px) {
    .pokemonListImg{
        width: 150px;
    }

    .containerItemm  {

        bottom: 5% !important;

    }
  }

  @media only screen and (width: 400px) {
    .pokemonListImg{
        width: 150px !important;
    }

    .containerItemm  {

        bottom: 25% !important;

    }
  }

  @media only screen and (width: 425px) {
    .pokemonListImg{
        width: 150px !important;
    }

    .containerItemm  {

        bottom: 25% !important;

    }
  }

  @media only screen and (width: 375px) {
    .pokemonListImg{
        width: 150px !important;
    }

    .containerItemm  {

        bottom: 25% !important;

    }
  }

  @media only screen and (width: 320px) {
    .pokemonListImg{
        width: 120px !important;
    }

    .containerItemm  {

        bottom: 25% !important;

    }

    .titlePokemon {

        font-size: 13px !important;

    }
  }

  @media only screen and (width: 768px) {
    .pokemonListImg{
        width: 250px !important;
    }

    .containerItemm  {

        bottom: 30% !important;

    
  }

}
.pokemonTitle {

    text-align: center;
    background-color: white;
    font-weight: 900;
    padding-bottom: 5px;
    color: red;
    text-shadow: 2px 2px 2px black;
    border-bottom: 2px solid black;

}

.containerItemm {
     border-bottom: 2px solid black;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: red;
    position: fixed;
    bottom: 30%;
    left: 5%;
    display: none;

}

// COPIED FROM BEFORE LIL HOMIE


.pokemonSprite {

    width: 100px;
    cursor: pointer;
    border-bottom: 2px solid black;
    position: relative;
    bottom: 20px;
  
}

.titlePokemon {

    text-align: center;
    background-color: white;
    font-weight: 900;
    padding-bottom: 5px;
    color: red;
    text-shadow: 2px 2px 2px black;
    border-bottom: 2px solid black;
    cursor: pointer;
}