<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 
    <section class="containerAll">

      @for (item of listt1; track item.name) {
        <div class="containerItems">
          
          <h1 class="titlePokemon" id="pokemonList1Name" (click)="showPokemonn(item.name)">{{item.name}}</h1>

     

        </div>
      }

      <div class="containerAllItemm" style="position: relative;">



        <div class="containerItemm" id="containerItemm">
          <img class="closeStyle" src="/assets/icon/close.png" alt="" (click)="close()">
          <h1 class="pokemonTitle" id="pokemonTitlee">n</h1>
        <img class="pokemonListImg" id="pokemonList1Img" src="" alt="">

      </div>

      </div>
   


  
      
      

    </section>

</ion-content>
